{% extends "layout.twig" %}
{% block content %}


<!-- Navigation Container -->
<div class="nav-effect--container  default-page">


    <!-- Feature Containers -->
    <div class="nav-effect--transform">
        <div class="nav-effect--wrapper"  id="main">


            <!-- Header -->
            {% include "includes/header.twig" %}


            <div role="main">

                <div class="template-title">
                    <h2 style="padding-bottom: 0;">
                        <span>{{ page.title }}</span>
                    </h2>
                </div>

                <!-- Main Zone -->
                {{zone('main')|raw}}

                {% include "responsivecolumns-two.twig" %}
                {% include "responsivecolumns-three.twig" %}
                {% include "responsivecolumns-four.twig" %}

            </div>


            <!-- Footer -->
            {% include "includes/footer.twig" %}


        </div>
    </div>


    <!-- Navigation -->
    {{widget('extendednavigation', 'navigation', {'align': 'center'})|raw}}

</div>

{% endblock %}
