{% extends "layout.twig" %}
{% block content %}


<!-- Navigation Container -->
<div class="template-feature  nav-effect--container  home-page">

            <!-- Header -->
            {% include "includes/header.twig" %}


    <!-- Feature Containers -->
    <div class="template-feature--container  nav-effect--transform">
        <div class="template-feature--wrapper  nav-effect--wrapper">


            <!-- Feature Widget -->
            {{widget('feature', 'header-feature', {
                "header": "profile",
                'positionTopPercentage': '0',
                "defaultBgImg": asset('images/feature.jpg'),
                'showBtn': true,
                buttonText: "Lorem Ipsum"
            })|raw}}


        </div>
    </div>


    <!-- Navigation -->
    {{widget('extendednavigation', 'navigation', {'align': 'center'})|raw}}

</div>


<div role="main">

    <!-- Main Zone -->
    {{zone('main')|raw}}

</div>


<!-- Footer -->
{% include "includes/footer.twig" %}


{% endblock %}
